<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Ralph Avalon - Java Sample Project</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/starter-template.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container">

		<div class="starter-template">
			<div class="middle">
				<form method="POST" action="#" th:action="@{/create}" th:object="${user}">
					<div class="form-group">
						<label th:text="#{name}">Name</label> <input type="text" class="form-control"
							name="name" placeholder="Your name" th:placeholder="#{name.placeholder}"/>
						 <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-msg">Name Error</span>
					</div>
					<div class="form-group">
						<label th:text="#{city}">City</label> <input type="text" class="form-control"
							name="city" placeholder="Your city" th:placeholder="#{city.placeholder}"/>
						<span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-msg">City Error</span>
					</div>
					<div class="form-group">
						<label th:text="#{email}">Email</label> <input type="text" class="form-control"
							name="email" placeholder="example@email.com" th:placeholder="#{email.placeholder}"/>
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-msg">Email Error</span>
					</div>
					<div class="form-group">
						<label th:text="#{password}">Password</label> <input type="password"
							class="form-control" name="password" placeholder="Your password" th:placeholder="#{password.placeholder}"/>
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-msg">Password Error</span>
					</div>
					<div class="form-group">
						<label th:text="#{birthdate}">Birthdate</label> <input type="text" class="form-control"
							name="birthdate" placeholder="dd/MM/yyyy" th:placeholder="#{birthdate.placeholder}"/>
						<span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" class="error-msg">Birthdate Error</span>
					</div>
					<div class="radio">
						<label> <input type="radio" name="gender" id="gender-male"
							value="MALE" checked="checked" /> <span th:text="#{gender.male}">Male</span>
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" name="gender"
							id="gender-female" value="FEMALE" /> <span th:text="#{gender.female}">Female</span>
						</label>
					</div>
					<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error-msg">Gender Error</span>

					<button type="submit" class="btn btn-default"><span th:text="#{save}">Save</span></button>
				</form>
			</div>
		</div>

	</div>
	<!-- /.container -->

	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>